<div class="sidebarcontainer">
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <nav id="drawer">
        <ul>
            <li><a href="/address">Addresses</a></li>
            <li><a href="/driver">Driver Setup</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
        </ul>
    </nav>
</div>
<div class="homecontainer">
    <div class="logo">
        <a href="/home"><img src="images/logo.png" alt="Avatar" class="avatar"></a>
    </div>
    <br>
    <br>
    <h3 class="head">Wanna update your addresses? Update here</h3>
    <br>
    <form action="" method="post"> <img src='images/home.png' width='20px' height='20px'> Home
        <input type="text" placeholder="Enter Home Address" name="home" required class="text">
        <br/>
        <br/>
        <br/><img src='images/office.png' width='20px' height='20px'> Office
        <input type="text" placeholder="Enter Office Address" name="office" required class="text">
        <br/>
        <br/>
        <input type="submit" value="Book" class="submit" onclick="return flag1;" /> </form>
</div>