<div class="sidebarcontainer">
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <nav id="drawer">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/address">Addresses</a></li>
            <li><a href="/driver">Driver Setup</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>
<div class="homecontainer">
    <div class="logo">
        <a href="/home"><img src="images/logo.png" alt="Avatar" class="avatar"></a>
    </div>
    <br>
    <br>
    <h3 class="head">Wanna update your addresses? Update here</h3>
    <br>
    <form action="/updateaddress" method="post"> <img src='images/home.png' width='20px' height='20px'> Home
        <input type="text" id="autocompletehome" placeholder="Enter Home Address" name="home" required class="text" onFocus="geolocate()">
        <br/>
        <br/>
        <br/><img src='images/office.png' width='20px' height='20px'> Office
        <input type="text" id="autocompletework" placeholder="Enter Office Address" name="office" required class="text" onFocus="geolocate()">
        <br/>
        <br/>
        <input type="submit" value="Save" class="submit" onclick="return flag1;" /> </form>
</div>
<script>
    var placeSearch, autocompletehome, autocompletework;
    
     function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocompletehome = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocompletehome')),
            {types: ['geocode']});
         
          autocompletework = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocompletework')),
            {types: ['geocode']});
     }
    
    function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB45rLge0qJX25y20ejv_B9iJG-mHLwt5E&libraries=places&callback=initAutocomplete"
        async defer></script>