<div class="sidebarcontainer">
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <nav id="drawer">
        <ul>
           <li><a href="/home">Home</a></li>
            <li><a href="/address">Addresses</a></li>
            <li><a href="/driver">Driver Setup</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>
<div class="homecontainer">
    <div class="logo">
        <a href="/home"><img src="images/logo.png" alt="Avatar" class="avatar"></a>
    </div>
    <br>
    <br>
    <h3 class="head">Setup your driver profile</h3>
    <br>
    <form action="/driversetup" method="post">
        <label><b>Driver's License #</b></label>
        <input type="text" placeholder="Enter your driver's license number" name="license" required class="text">
        <br/>
        <label><b>License State</b></label>
        <input type="text" placeholder="Enter your license state" name="state" required class="text">
        <br/>
        <label><b>Car model</b></label>
        <input type="text" placeholder="Enter your car model" name="model" required class="text">
        <br/>
        <label><b>Car number</b></label>
        <input type="text" placeholder="Enter your car number" name="carnum" required class="text">
        <br/>
        <label><b>Car color</b></label>
        <input type="text" placeholder="Enter your car color" name="carcolor" required class="text">
        <br/>
        <label><b>Car year</b></label>
        <input type="text" placeholder="YYYY" name="caryear" required class="text">
        <br/>
        <label><b>SSN#</b></label>
        <input type="text" placeholder="Enter your SSN Number" name="ssn" required class="text">
        <br/>
        <input type="submit" value="Sign Up" class="submit" /> </form>
</div>