<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zoompool</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <script src="javascripts/index.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jqueryv3.1.1.min.js"></script>
    <script src="javascripts/handlebars-v4.0.5.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css"> </head>

<body> {{{body}}} </body>

</html>