<div class="innercontainer">
    <div class="container">
        <div class="logo"> <img src="images/logo.png" alt="Avatar" class="avatar"> </div>
        <form action="/signupost" method="post">
            <div style="color:#ff0000" align="center">{{message}}</div>
            <label><b>Full Name</b></label>
            <input type="text" placeholder="Enter Full Name" name="fname" required class="text">
            <br/>
            <label><b>Email</b></label>
            <input type="text" placeholder="Enter your corporate email address" name="email" required class="text">
            <br/>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required class="text">
            <br/>
            <label><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="cpsw" required class="text">
            <br/>
             <img src='images/home.png' width='20px' height='20px'> Home
            <input type="text" id="autocompletehome" placeholder="Enter Home Address" name="home" required class="text" onFocus="geolocate()">
            <br/>
            <img src='images/office.png' width='20px' height='20px'> Office
            <input type="text" id="autocompletework" placeholder="Enter Office Address" name="office" required class="text" onFocus="geolocate()">
            <label><b>Date of Birth</b></label>
            <select class="dob" placeholder="MM" name="dobm" required>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <input type="text" placeholder="DD" name="dobd" required class="dob">
            <input type="text" placeholder="YYYY" name="doby" required class="dob">
            <br/>
            <br/>
            <label><b>Gender</b></label>
            <select class="gender" name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="na">Don't want to disclose</option>
            </select>
            <br/>
            <input type="submit" value="Sign Up" class="submit" />
            <br/> <span class="psw">Already have an account? <a href="/">Login</a></span> </form>
    </div>
</div>
<script>
    var placeSearch, autocompletehome, autocompletework;
    
     function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocompletehome = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocompletehome')),
            {types: ['geocode']});
         
          autocompletework = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocompletework')),
            {types: ['geocode']});
     }
    
    function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB45rLge0qJX25y20ejv_B9iJG-mHLwt5E&libraries=places&callback=initAutocomplete"
        async defer></script>