<div>
    <div class="container">
        <div class="logo"> <img src="images/logo.png" alt="Avatar" class="avatar"> </div>
        <form action="" method="post" enctype="multipart/form-data">
            <label><b>Full Name</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required class="text">
            <br/>
            <label><b>Email</b></label>
            <input type="text" placeholder="Enter your corporate email address" name="email" required class="text">
            <br/>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required class="text">
            <br/>
            <label><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="cpsw" required class="text">
            <br/>
            <label><b>Date of Birth</b></label>
            <select class="dob" placeholder="MM" name="dobm" required>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
            <input type="text" placeholder="DD" name="dobd" required class="dob">
            <input type="text" placeholder="YYYY" name="doby" required class="dob">
            <br/>
            <br/>
            <label><b>Gender</b></label>
            <input type="text" placeholder="Gender" name="gender" required class="text">
            <br/>
            <input type="submit" value="Sign Up" class="submit" />
            <br/> <span class="psw">Already have an account? <a href="/">Login</a></span> </form>
    </div>
</div>