<div class="innercontainer">
    <div class="container">
        <div class="logo"> <img src="images/logo.png" alt="Avatar" class="avatar"> </div>
        <form action="/signupost" method="post">
            <label><b>Full Name</b></label>
            <input type="text" placeholder="Enter Full Name" name="fname" required class="text">
            <br/>
            <label><b>Email</b></label>
            <input type="text" placeholder="Enter your corporate email address" name="email" required class="text">
            <br/>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required class="text">
            <br/>
            <label><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="cpsw" required class="text">
            <br/>
            <label><b>Date of Birth</b></label>
            <select class="dob" placeholder="MM" name="dobm" required>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <input type="text" placeholder="DD" name="dobd" required class="dob">
            <input type="text" placeholder="YYYY" name="doby" required class="dob">
            <br/>
            <br/>
            <label><b>Gender</b></label>
            <select class="gender" name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="na">Don't want to disclose</option>
            </select>
            <br/>
            <input type="submit" value="Sign Up" class="submit" />
            <br/> <span class="psw">Already have an account? <a href="/">Login</a></span> </form>
    </div>
</div>