<div class="innercontainer">
    <div class="container">
        <div class="logo"> <img src="images/logo.png" alt="Avatar" class="avatar"> </div>
        Your email has been successfully verified. You can now <a href="/">Login</a>.
    </div>
</div>